// * Default Theme


// * Base Colors
$dark_base:          #2c3531;
$dark_base_contr:    #69716e;
$dark_base_faded:    #656c6a;
$dark_accent:        #116466;
$dark_accent_contr:  #3f8f92;
$light_base:         #d9b08c;
$light_base_contr:   #a48160;
$light_accent:       #ffcb9a;
$light_accent_contr: #c09467;
$light_hard:         #06B5B5;
$light_hard_contr:   #98aba7;


// // * General
.app_window, 
.menu_bar, 
.menu_bar_submenu, 
.sidebar_button, 
.operation_button, 
.import_button, 
.operations_page_title,
.QTabBar::tab
{
    font-family: 'Consolas',  monospace;
    font-size: 12px;
}


// * App Window
.app_window,
.menu_bar, 
.menu_bar_submenu
{
    background-color: $dark_base;
    color: $light_accent;
}


// * Menu Bar
.menu_bar,
.menu_bar_submenu
{
    border: 1px solid $light_accent_contr;
    margin: 1px;
}

.menu_bar::item::selected, 
.menu_bar_submenu::item::selected 
{
    background-color: $dark_accent;
    color: white;
}


// * Display
.display
{
    background-color: $dark_base;
    // border: 1px solid green;  // ^ temporal color just for knowing where the workspace is
}


// * Workspace
.workspace {
    border: 1px solid $light_accent_contr;
    background-color: $dark_base;
    border-radius: 10%;
}
// * Workspace Tabs
.workspace_tabs
{
    .QTabBar::tab
    {
        background-color: $dark_base;
        border: 1px solid $light_accent_contr;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 5px;
        color: $light_accent;  // font color
    }
    .QTabBar::tab::hover
    {
        background-color: $light_accent;
        color: white
    }

    // Selected Tab
    .QTabBar::tab::selected,
    .QTabBar::tab::selected::hover 
    {
        background-color: $light_accent_contr;
        border: 2px solid $light_base;
        color: white;  // font color
    }

    // New Tab Button
    .QPushButton {
        background-color: $dark_base;
        border: 2px solid $light_accent_contr;
        border-top-left-radius: 4%;
        border-top-right-radius: 4%;
        padding: 5px;
    }
    .QPushButton:hover {background-color: white;}

    // Close Button
    .QTabBar::close-button {image: url('resources/img/static/trash.png');}
    .QTabBar::close-button::hover {background-color: white;}
}
// todo: check why this doesn't work when it's inside the .workspace_tabs class
QTabWidget::pane {  // this also belongs to the .workspace_tabs class but it doesn't work inside it
    border: 1px solid $light_accent_contr;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 8px;  // Adds space between the tabs and the workspace
}


// * Side Panel
.side_panel {
    background-color: $dark_accent;
    border: 1px solid $light_accent_contr;
    border-radius: 10%;
}

// * Side Panel Buttons
// .sidebar_button, .operation_button {
//     font-weight: 600;
//     background: $dark_accent;
//     color: $light_accent;
//     border: 1px solid $light_accent_contr;
//     border-radius: 10%;
// }
// .sidebar_button:hover, .operation_button:hover {
//     background-color: $light_hard;
//     color: $dark_base;
//     border: 3px solid $light_hard_contr;
//     border-radius: 8%;
// }


// * Visualizer
.visualizer {
    background-color: $dark_base_contr;
    // border: 1px solid $light_accent_contr;
    // border-radius: 10%;
}


// * Image Buffer
.image_buffer,
.import_button
{
    background-color: white;
    // background-color: $dark_base_contr;
    border: 1px solid $light_accent_contr;
    // border-radius: 10%;
}
.image_buffer:hover,
.import_button:hover
{
    background-color: $dark_base_faded;
    border : 1px solid $light_base_contr;
}
// .import_button {
//     border: none;
// }
// .import_button:hover {
// }





// QSpinBox, QComboBox {
//     font-family: 'Consolas',  monospace;
//     background-color: $dark_base;
//     color: $light_accent;
// }


// * 
.loading_bar {
    // border: 1px solid $light_accent_contr;
    border: 1px solid #FFD700;
    border-radius: 10px;
    text-align: center;
    color: $light_accent;
}
